*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color:#333;}

div.container{
		margin:10% auto;
		width:100%;
		border: 2px solid green;
		}
div.container .box_1{
		overflow:hidden;
		margin-right: 3%;
}
div.container .box_1:last-child{margin-right:0;}

div.box_1{
			float:left;
			width: 31.333%;
			height: 50%;
			}
div.box_1 img{
					width:100%;
					}
div.box_1 h2{
				margin-top: 20px;
				}
div.box_1 p{
				margin-top: 10px;
				}
div.box_1 div{
					margin-top: 20px;
					width: 80px;
					border:1px solid black;
					border-radius: 5px;
					text-align:center;
				}
div.box_1 a{
				display:block;
				font-size: 0.8em;
				line-height: 20px
}

div.contact{
		border:1px solid red;
		margin: 0 auto;
		text-align:center;
		width:100%;
		background: yellow url("img/amz_home/section-3.jpg");
		text-align:center;
}