*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color: #333;}
ul li{list-style:none;}

#con{
		width: 500px;
		height: 0px;
		border: 1px solid transparent;
		overflow:hidden; /*싸서 올려 스킬 */
		transition-duration: 1s;	

}
#toggle{
	display:none;
}

input[type=checkbox]:checked + #con{
		height: 150px;
		border: 1px solid green;
		transition-duration: 1s;
}