*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color: #333;}
ul li{list-style:none;}

div.top_wrap{
		background:darkblue;
}
ul.menu{
		margin:0 auto;
		width: 60%;
		overflow:hidden;
}
ul.menu li{
		width:20%;
		float:left;
		border:1px solid yellow;
		line-height:50px;
		text-align:center;
		color:white;
}
ul.menu li:hover{
		cursor:pointer;
		background:pink;
		color:black;
}