*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color: black;;}
ul li{list-style:none;}

header{
		
		text-align:center;
		position:fixed;
		width:100%;
		z-index:100;
		left:0;
		top:0;
		font-size:0.9em;
}

div.top_back{
		position:relative;
		height:150px;
		background:pink;
}
div.top_back img{
		position: absolute;
		top:50%;
		left:50%;
		margin-top:-20px;
		margin-left:-50px;
		}
/*
div.logo{
	width:100px;
	margin:0 auto;
	
}
div.logo img{
	width:100%;
	vertical-align:bottom;
}
*/
nav{
		background:green;
		width:100%;
		height:40px;
		position:relative;
		/*position:relative; 를 메뉴바, 메뉴버튼 다 줘도 안 되다가 여기 주니까 나오네? */
}
ul.menu_bar{
		width:60%;
		margin: 0 auto;
		line-height: 40px;
		overflow:hidden;
		
		
}
li.mm a{
		background:skyblue;
		display:block;
		color:white;
}
li.main_but, li.mm{
		float:left;
		width:20%;
		
		
}
li.main_but:hover ul.sub_bg{
		display:block;
		
}
li.main_but:hover ul.sub{
		display:block;
}
li.main_but> a{
		background:skyblue;
		display:block;
		color:white;
}
li.main_but>a:hover{
		background:blue;
}

ul.sub_bg{
		width: 100%;
		height: 400px;
		background: rgba(0,0,0, .5);
		display:none;
		z-index:1;
		position:absolute;
		top:40px;
		left:0
}


ul.sub{
		position:absolute;
		top:10px;
		left: 20%;
		overflow:hidden;
		width:60%;
		z-index:999;
		border:5px solid white;
		
		
}
ul.sub a{
		display:block;
}

ul.sub>li{
		float:left;
		width:16.666%;
}
ul.sub>li a:hover{
		color: blue;
		outline: 1px solid red;
		
}
ul.sub1{
		width:60%;
		margin:0 auto;
		overflow:hidden;
		background:blue;
		padding: 20px;
		position:absolute;
		top:190px;
		left:20%;
}
a.mm{
		display:block;
		background:orange;
		color:white;
}

ul.sub1>li>ul{
		float:left;
		width:20%;
		line-height:40px;
		text-align:left;
		padding-left:15px;
}

div.back{
		width:100%;
		height:1000px;
		background:url(../img/21_FRD_F15_49154.jpg) no-repeat;
		background-size:cover;
}
#sublist{
		display:none;
}
