*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color: #333;}
ul li{list-style:none;}

div.ex{
		border: 2px solid black;
		width: 100px;
		height: 100px;
		background: url("../img/sunflower.png") no-repeat center center ;
		border-radius: 20px;
		transition: all 1s ease-in 0.3s;
}
div.ex:hover{
		
		background: url("../img/blueflower.png") no-repeat center center ;
		border: 2px solid blue;
		border-radius: 50%;
}
