*{margin:0; padding:0;}
div{width: 400px; background:red; color: white;}
#margin_div{margin: 30px 30px;}
#padding_div{padding: 30px; margin:20px;}
#padding1_div{padding: 60px; margin:30px;} /*마진은 큰 쪽만 인식해서 30px만 화면이 뜸*/
#margin1_div{margin: 30px 30px;
					padding: 30px 30px;}