*{margin:0; padding:0; box-sizing:border-box;}
	a{text-decoration:none; color: #333;}
ul li{list-style:none;}

ul.nl{width: 150px;
	margin-bottom:50px;
	text-align:center;
	}
ul.nl li{
		line-height:40px;
		border:1px solid red;	
		}
ul.nl a{display:block; 
		background:black; 
		color:yellow;}
ul.nl a:hover{background:yellow; 
				color:black;}

ul.il{
	margin: 0 auto;
	width: 80%;
	}
ul.il li{
		display:inline-block;
		width: 20%;
		border: 1px solid black;  
		text-align:center;
		background:green;
		color:yellow;
		}
		
ul.il a{
		display:block;
		line-height:40px;
		color: yellow;
		}
ul.il a:hover{}

ul.il_01{
			margin:10px auto;
			width:80%
			}
ul.il_01 li{
			display:inline;
			border: 1px solid blue; 
			text-align:center;
			background:pink;
			}
			
ul.il_01 a{
		display:block;
		line-height:40px;
		color: blue;
		}

ul.fl{
		overflow:hidden; 
		margin:10px auto;
		width:80%;
		text-align:center;
		}
ul.fl li{
		float:left;
		width: 20%; 
		border:1px solid black; 
		background:pink;
		color:blue;
		}
ul.fl a{
		display:block;
		line-height:40px;
		color: blue;
		}
		
div.box3{display:none;} /*영역까지 없앰. 엄청 자주 씀*/

div.box1 img{
				display:block;
				vertical-align:bottom;
				width: 150px; 
				}
				
div.box2 img{
				width: 150px;
				}
				
div.box3 img{
				vertical-align:bottom;
				width: 150px;
				}

div.container{
					border: 5px solid red;
					text-align:center;}
div.container div{
					border: 1px solid black;
				}
div.container .but{width: 100px; 
						vertical-align:bottom;
						visibility:hidden; /*안보이긴 하지만 영역 존재*/
						}
div.container .f2{
						width: 150px; 
						vertical-align:bottom; 
						
						}