*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color: #333;}
ul li{list-style:none;}

body{
		height: 2000px;
}

div.ybox{
		margin:0 auto;
		width: 80%;
		height: 300px;
		background:yellow;
		position:relative;
	
}
div.ybox p{
		width: 100px;
		height: 100px;
		position: absolute;
}
		
div.ybox p:nth-child(1){
		background:red;
		z-index:1 ;
}
div.ybox p:nth-child(2){
		background:green;
		z-index:2 ;
		top: 50px;
		left: 50px;
}
div.ybox p:nth-child(3){
		background:blue;
		z-index:3 ;
		bottom: 10px;
		right: 10px;
}
p.text{
		margin: 0 auto;
		width: 80%;
		border: 1px solid red;
}


div.fixbox1{
		width:20px;
		height:20px;
		top: 10px;
		left: 10px;
		background:red;
		position:fixed;
		z-index:999;
	
}

div.fixbox2{
		width:20px;
		height:20px;
		bottom: 10px;
		right: 10px;
		background:blue;
		position:fixed;
		z-index:999;
	
}